<h2>Fuel</h2>




<p>Geography: <%= @geography %></p>
<p><%= @name %></p>
<p>Units: <%= @units %></p>

<% @series_data.take(6).each do |data| %>
  <p>Date: <%= data[0] %></p>
  <p>Price <%= data[1] %></p>
 <% end %>
